html {
    box-sizing:border-box;
}

body {
    background-color:#D1D7E5;
}

header {
    margin-top: -10px;
    display: block;
    background-repeat: no-repeat;
    padding-left: 77px;
    position: relative;
    height: auto;
}


h1{
    background-position: center;
    margin-left: 400px;
    color: #ebebeb;
    text-transform: uppercase;
    position: absolute;
    top: 220px;
    font-size: 65px;
    text-shadow: 2px 2px 10px rgb(4, 4, 4);
    letter-spacing: 1px;
    /*I wanted to add a gradient  to the header font from top to bottom from white to black or grey, but it didn't work out:
    background: linear-gradient(to top, rgb(255, 253, 253) 100%, rgb(149, 149, 148) 50%, rgb(58, 58, 58) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
   
}

.wrapper {
    margin: auto;
    width: 1349px;
    background-position: center;
    background-color: #E6EBF5;
    border:1px solid #969595;
    margin-top: -5px;
    position: relative;
  }

.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


li a {
    float: left;
    display: block;
    width: 417px;
    color: rgb(65, 64, 64);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

#first {
    float: left;
    border-right: 1px solid #bbb;
}

#second {
    float: left;
    border-right: 1px solid #bbb;
}

.list2 {
    list-style-type: square;
    margin: 30px;
}

li a:hover {
    background-color: #fffefe;
}

article {
        color: #333;
        margin: 30px;
      }

h2 {
    margin: 30px;
    color: #333;
}

form {
    border: 1px solid #333;
    padding: 20px;
    margin: 30px;
    line-height: 22px;
  }

  .feedback-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    line-height: 22px;
    border:1px solid #b6b4b4;
    transition: all 0.3s;
    padding: 3px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }

  .feedback-input:focus { border:1px solid #302e2e; }

  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }

  [type="submit"] {
    width: 5%;
    background:local;
    border:1px solid #525151;
    color:rgb(34, 34, 34);
    text-transform: uppercase;
    margin-top:15px;
    padding-top:8px;
    padding-bottom:8px;
  }
  [type="submit"]:hover { background:#ffffff; }

  #photobird {
    float: left;
    margin-right: 10px;
  }

  input[type="radio"] {
    appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #525151;
    background-color: #fff;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  input[type="radio"]:checked {
    background-color: #ADB9D1;
  }

  footer{
    text-align: right;
    font-size: 14px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 15px;
  }